<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'gmail_authentication/css/configure_account.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'profile_feed/images/novare_logo.png' %}" />

    <script src="{% static 'gmail_authentication/js/jquery-3.4.1.min.js' %}"></script>
</head>
<!-- Footer -->
<div class="top-bar">
    <div class="top-bar-inner">
        <div class="container">
        <ul>
            <li><a class="active"><span class="fa fa-cog"></span> Novare PyPiper</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="page-outer">
<div class="page-outer-container">
    <div class="page-container">
        {% block content %}
        {% endblock %}
    </div>

<script>
$(document).ready(function(event){
    $('#cancel_configuration, #home_button').click(function(){
        if (confirm('Do you want to cancel the account configuration?')){
            $.ajax({
            url: "{% url 'logout_user' %}",
            type: 'POST',
            data: {
                'content': 'xxx',
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success : function(data){
                window.location = "{% url 'home' %}";
                }
            });
        }
    });
});
</script>
