{% extends 'gmail_authentication/base.html' %}
{% block title %} Nova | Configure your account{% endblock %}
{% block content %}

<div class="page-container-configure-account-form">
    <h2 class="page-container-title">Configure your Nova account</h2>
    <p>Please fill out this form</p>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="input-field">
                <label for="username"><b>Username</b></label>
                <br><br><input type="text" autocomplete="off" placeholder="Username" id="username" name="username" value="{{ user.username }}" readonly required>
            </div>
            <div class="input-field">
                <label for="first_name"><b>First Name</b></label>
                <br><br><input type="text"  autocomplete="off" placeholder="First Name" id="first_name" name="first_name" value="{{ user.first_name }}" required>
            </div>
            <div class="input-field">
                <label for="last_name"><b>Last Name</b></label>
                <br><br><input type="text"  autocomplete="off" placeholder="Last Name" id="last_name" name="last_name" value="{{ user.last_name }}" required>
            </div>
            <div class="input-field">
                <label for="email"><b>Email Address</b></label>
                <br><br><input type="email" autocomplete="off" placeholder="Email Address" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="input-field">
                <label for="department"><b>Department</b></label>
                <br><br><select id="department" name="department" required>
                    {% if departments %}
                    <option value="" disabled selected>Select your department</option>
                    {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.department_name }}</option>
                    {% endfor %}
                    {% else %}
                    <p>No department yet</p>
                    {% endif %}
                </select>
            </div>
            <div class="input-field-button">
                <button>Proceed</button>
                <a href="#" class="input-field-button-cancel" id="cancel_configuration">Cancel configuration?</a>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>

{% endblock %}       <!-- <button class="cta">Hey</button> -->