{% extends 'gmail_authentication/base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'vote/css/vote.css' %}">
<script src="{% static 'gmail_authentication/js/jquery-3.4.1.min.js' %}"></script>
<h3>Hello {{ User.first_name }} {{ User.last_name }}, <br><br> How happy are you today at work?<br></h3>

<div class="table">


  <ul id="emoji">
      <li value="1" id="btn-1"><img src="{% static 'vote/images/emoji11.png' %}" style="width: 50px; height: 50px;"/><p>POOR</p></li>
      <li value="2" id="btn-2"><img src="{% static 'vote/images/emoji22.png' %}" style="width: 50px; height: 50px;"/><p>FAIR</p></li>
      <li value="3" id="btn-3"><img src="{% static 'vote/images/emoji33.png' %}" style="width: 50px; height: 50px;"/><p>GOOD</p></li>
      <li value="4" id="btn-4"><img src="{% static 'vote/images/emoji44.png' %}" style="width: 50px; height: 50px;"/><p>EXCELLENT</p></li>
  </ul>

<div id="line">
    <div id="dot"></div>
</div>
</div>

<form id="post-form" method="POST">
  {% csrf_token %}
  <div class="form-group">
        <textarea class="form-control" rows="3" id="post" name="post" placeholder="Write a post..." required></textarea>
        <button id="submit_btn" type="submit" class="btn btn-primary">Post</button>
      </div>
  </form>

<script>
  var global= 0
  $(document).ready(function(event) {
    $('#post-form').on('submit', function(event){
      event.preventDefault();
      $.ajax({
        url: '{% url "submit_vote" %}',
        type:'POST',
        data: {
          'username' : 'User.username',
          'post' : $("#post").val(),
          'vote' : global
        },
        success : function(data){
          if(data.status == 200){
            window.location.href = "{% url 'home' %}";
          }else{
            alert('You have not selected your vote yet!')
          }
        }
      })
    })
  });
  </script>



</div>

<script>
$(document).ready(function(){
     $("#emoji li:nth-child(1)").click(function(){
        $("#dot").css("margin-left","0px");
         function explode(){
           $("#emoji li:nth-child(1) img").attr("src","{% static "vote/images/emoji1.png" %}");
           $("#emoji li:nth-child(2) img").attr("src","{% static "vote/images/emoji22.png" %}");
           $("#emoji li:nth-child(3) img").attr("src","{% static "vote/images/emoji33.png" %}");
           $("#emoji li:nth-child(4) img").attr("src","{% static "vote/images/emoji44.png" %}");
           $("#emoji li:nth-child(5) img").attr("src","{% static "vote/images/emoji55.png" %}");
           $("#note li:nth-child(1)").css("color","black");
           $("#note li:nth-child(2)").css("color","#d4d3cf");
           $("#note li:nth-child(3)").css("color","#d4d3cf");
           $("#note li:nth-child(4)").css("color","#d4d3cf");
           $("#note li:nth-child(5)").css("color","#d4d3cf");
         }
         setTimeout(explode,300);
     });
      $("#emoji li:nth-child(2)").click(function(){
        $("#dot").css("margin-left","60px");
         function explode(){
           $("#emoji li:nth-child(1) img").attr("src","{% static "vote/images/emoji11.png" %}");
           $("#emoji li:nth-child(2) img").attr("src","{% static "vote/images/emoji2.png" %}");
           $("#emoji li:nth-child(3) img").attr("src","{% static "vote/images/emoji33.png" %}");
           $("#emoji li:nth-child(4) img").attr("src","{% static "vote/images/emoji44.png" %}");
           $("#emoji li:nth-child(5) img").attr("src","{% static "vote/images/emoji55.png" %}");
           $("#note li:nth-child(1)").css("color","#d4d3cf");
           $("#note li:nth-child(2)").css("color","black");
           $("#note li:nth-child(3)").css("color","#d4d3cf");
           $("#note li:nth-child(4)").css("color","#d4d3cf");
           $("#note li:nth-child(5)").css("color","#d4d3cf");
         }
         setTimeout(explode,300);
     });
      $("#emoji li:nth-child(3)").click(function(){
        $("#dot").css("margin-left","120px");
         function explode(){
           $("#emoji li:nth-child(1) img").attr("src","{% static "vote/images/emoji11.png" %}");
           $("#emoji li:nth-child(2) img").attr("src","{% static "vote/images/emoji22.png" %}");
           $("#emoji li:nth-child(3) img").attr("src","{% static "vote/images/emoji3.png" %}");
           $("#emoji li:nth-child(4) img").attr("src","{% static "vote/images/emoji44.png" %}");
           $("#emoji li:nth-child(5) img").attr("src","{% static "vote/images/emoji55.png" %}");
           $("#note li:nth-child(1)").css("color","#d4d3cf");
           $("#note li:nth-child(2)").css("color","#d4d3cf");
           $("#note li:nth-child(3)").css("color","black");
           $("#note li:nth-child(4)").css("color","#d4d3cf");
           $("#note li:nth-child(5)").css("color","#d4d3cf");
         }
         setTimeout(explode,300);
     });
      $("#emoji li:nth-child(4)").click(function(){
        $("#dot").css("margin-left","180px");
         function explode(){
           $("#emoji li:nth-child(1) img").attr("src","{% static "vote/images/emoji11.png" %}");
           $("#emoji li:nth-child(2) img").attr("src","{% static "vote/images/emoji22.png" %}");
           $("#emoji li:nth-child(3) img").attr("src","{% static "vote/images/emoji33.png" %}");
           $("#emoji li:nth-child(4) img").attr("src","{% static "vote/images/emoji4.png" %}");
           $("#emoji li:nth-child(5) img").attr("src","{% static "vote/images/emoji55.png" %}");
           $("#note li:nth-child(1)").css("color","#d4d3cf");
           $("#note li:nth-child(2)").css("color","#d4d3cf");
           $("#note li:nth-child(3)").css("color","#d4d3cf");
           $("#note li:nth-child(4)").css("color","black");
           $("#note li:nth-child(5)").css("color","#d4d3cf");
         }
         setTimeout(explode,300);
     });
      $("#emoji li:nth-child(5)").click(function(){
        $("#dot").css("margin-left","240px");
         function explode(){
           $("#emoji li:nth-child(1) img").attr("src","{% static "vote/images/emoji11.png" %}");
           $("#emoji li:nth-child(2) img").attr("src","{% static "vote/images/emoji22.png" %}");
           $("#emoji li:nth-child(3) img").attr("src","{% static "vote/images/emoji33.png" %}");
           $("#emoji li:nth-child(4) img").attr("src","{% static "vote/images/emoji44.png" %}");
           $("#emoji li:nth-child(5) img").attr("src","{% static "vote/images/emoji5.png" %}");
           $("#note li:nth-child(1)").css("color","#d4d3cf");
           $("#note li:nth-child(2)").css("color","#d4d3cf");
           $("#note li:nth-child(3)").css("color","#d4d3cf");
           $("#note li:nth-child(4)").css("color","#d4d3cf");
           $("#note li:nth-child(5)").css("color","black");
         }
         setTimeout(explode,300);
     });
  });

  $(document).ready(function(event) {
      $('#btn-1').on('click', function (event) {
          global = $(this).val();
          console.log(global)

      });
  });

  $(document).ready(function(event) {
      $('#btn-2').on('click', function (event) {
          global = $(this).val();
          console.log(global)

      });
  });

  $(document).ready(function(event) {
      $('#btn-3').on('click', function (event) {
          global = $(this).val();
          console.log(global)

      });
  });

  $(document).ready(function(event) {
      $('#btn-4').on('click', function (event) {
         global = $(this).val();
          console.log(global)

      });
  });
</script>
{% endblock %}