.btn-generate-request {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

.send-mail-container {
    text-align: center !important;
}

#mail_logo {
    padding: 10px;
}