<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'profile_feed/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'profile_feed/css/profile.css' %}">
    <script src="https://kit.fontawesome.com/89c426fcea.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static 'profile_feed/images/logo.png' %}" />

  </head>
<body>
  <!-- Entire Container -->
  <div class="container">
    <div class="left-side-bar">
        <div class="left-side-bar-logo">
            <img id="novare_logo" src="{% static 'vote_feed/images/Nova.png' %}" style="width:176px; cursor: pointer;" onclick="refresh()">
        </div>
      <div class="left-side-bar-container">
        <div class="left-side-bar-container-list">
        <ul>
          <li><a href="{% url 'home' %}"><span class="fa fa-home" style="color: #ecc236"></span>&nbsp;&nbsp;Home</a> </li>
          <li><a href="{% url 'profile' username=request.user %}"><span class="fa fa-user-o" style="color: #ecc236;"></span>&nbsp;&nbsp;Profile</a></li>
          <li><a href="{% url 'about' %}"><span class="fa fa-question-circle-o" style="color: #ecc236"></span>&nbsp;&nbsp;About</a></li>
          <li><a href="{% url 'logout_user' %}"><span class="fa fa-sign-out" style="color: #ecc236"></span>&nbsp;&nbsp;Logout</a></li>
        </ul>
        </div>
      </div>
    </div>

    <!-- Middle Split -->
    <div class="post-container" style="background-color:white;">
      {% block content %}
      {% endblock %}
        </div>
        <!-- End of Middle Split -->

    
  </div>
  <!-- End of Entire Container -->
</body>
<script>
function refresh(){
  var img = document.getElementById("novare_logo")
  img.setAttribute("class", "rotated-image");
  setTimeout(location.reload.bind(location), 1000);
}
</script>
</html>